<input type= "text" (input)="filter($event)"/>
<table>  
  <tr>  
    <th>Category</th>   
  </tr>  
  <tr *ngFor="let item of categoryService.categories$ | async">  
    <td>{{item}}</td>  
  </tr>  
</table> 